body {
    font-family: Inter;
    width: 100%;
    margin: auto;
    line-height: 1.7em;
}

h2 {
    font-weight: 600;
    font-size: xx-large;
    color: #25356d;
    line-height: 40px;
    margin: 0px;
}
h4 {
    font-weight: 600;
    font-size: 26px;
    color: #25356d;
}


span {
    color: #666C9D;
    text-transform: uppercase;
    border: 1px solid rgb(102, 108, 157);
    border-radius: 5px;
    padding: 4px 10px;
    font-weight: 600px;
    margin-top: 4px;
    margin-bottom: 8px;
    font-size: 14px;
}

.row-1-header {
    display: flex;
}

.row-1-body {
    width: 66%;
}

.why-vivasoft {
    background-color: #f9f9f9;
}

.why-vivasoft-row-1 {
    width: 80%;
    margin: auto;
}

.box-texts {
    color: rgba(37,53,109,0.5);
    font-size: 18px;
}

.box-1 {
    text-align: center;
    background-color: white;
    width: 31.333%;
    margin-right: 3%;
    border-radius: 5px 5px 5px 5px;
    transition: 0.5s;
}

.box-1-img {
    padding-top: 44px;
}

.box-1-content {
    padding-left: 48px;
    padding-right: 48px;
    padding-bottom: 48px;
}

.box-1:hover {
    box-shadow: 0px 12px 36px 0px rgba(0, 0, 0, 0.06);
}

.box-2 {
    text-align: center;
    background-color: white;
    width: 31.333%;
    margin-right: 3%;
    border-radius: 5px 5px 5px 5px;
    transition: 0.5s;
}

.box-2-content {
    padding-left: 48px;
    padding-right: 48px;
    padding-bottom: 48px;
}

.box-2-img {
    padding-top: 44px;
}

.box-2:hover{
    box-shadow: 0px 12px 36px 0px rgba(0, 0, 0, 0.06);
}

.box-3 {
    text-align: center;
    background-color: white;
    width: 31.333%;
    border-radius: 5px 5px 5px 5px;
    transition: 0.5s;
}

.box-3-content {
    padding-left: 48px;
    padding-right: 48px;
    padding-bottom: 48px;
}

.box-3-img {
    padding-top: 44px;
}

.box-3:hover {
    box-shadow: 0px 12px 36px 0px rgba(0, 0, 0, 0.06);
}

.box-4 {
    text-align: center;
    background-color: white;
    width: 31.333%;
    margin-right: 3%;
    border-radius: 5px 5px 5px 5px;
    transition: 0.5s;
}

.box-4-content {
    padding-left: 48px;
    padding-right: 48px;
    padding-bottom: 48px;
}

.box-4-img {
    padding-top: 44px;
}

.box-4:hover {
    box-shadow: 0px 12px, 36px 0px rgba(0, 0, 0, 0.06);
}

.works{
    width: 80%;
    margin: auto;
}
.why-vivasoft-row-2 {
    display: block;
    width: 80%;
    margin: auto;
}

.top-boxes {
    display: flex;
}

.bottom-boxes {
    display: flex;
}

.works-top-left {
    display: flex;
}


.works-top-right {
    float: right;
}

.work-portfolio-top {
    display: flex;
}

.work-portfolio-bottom {
    display: flex;
}

.box-content-text {
    color : rgba(0,21,106,0.5); 
    font-size: larger;
    margin: 0px;
}

.porfolio-box-1 {
    width: 58.8%;
    background-image: url(./img/workes-01-1.png);
    background-position: center right;
    background-color: #f6f6f6;
    background-size: 350px;
    background-repeat: no-repeat;
    border-radius: 20px 20px 20px 20px;
    padding-top: 42px;
    padding-bottom: 42px;    
}

.porfolio-box-1:hover {
        background-size: 60%;
        transition: 0.5s;
}

.portfolio-box-content {
    width: 70%;
    padding: 52px 44px 52px 44px;
}

.porfolio-box-2 {
    width: 38.2%;
}
.porfolio-box-3 {
    width: 38.2%;
}
.porfolio-box-4 {
    width: 58.8%;
}